<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rocktech.hospitalrms">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome" android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".HomepageActivity" />
        <activity android:name=".HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Statistics"
            android:parentActivityName=".DashboardActivity" />
        <activity android:name=".UpdateReportActivity" android:parentActivityName=".AllReportActivity" />
        <activity android:name=".UpdateStudentActivity" android:parentActivityName=".StudentActivity"/>
        <activity
            android:name=".StudentDashboardActivity"
            android:label="All Reports" />
        <activity
            android:name=".FabReportActivity"
            android:label="Add Report"
            android:parentActivityName=".AllReportActivity" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".AllReportActivity"
            android:label="All Report"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".NewReportActivity"
            android:parentActivityName=".AllReportActivity" />
        <activity
            android:name=".DescriptionActivity"
            android:parentActivityName=".AllReportActivity" />
        <activity
            android:name=".StudentActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".StudentActivity" />
        <activity
            android:name=".DashboardActivity"
            android:label="DASHBOARD" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".HomepageActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>